body {
  background-color: thistle;
  min-height: 100vh;
}

#playing-cards {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px grey;
  max-width: 250px;
  min-width: 250px;
  height: 350px;
  font: 30px bold;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.left {
  /* display: block; */
  align-self: flex-start;
}

.middle {
    align-self: center;
    display: flex;
    font-size: 80px;
    flex-direction: column;
}

.right {
  align-self: flex-end;
}

.flipped {
  transform: rotate(180deg);
}

.red {
  color: red;
}

.middle-section {
  display: flex;
  justify-content: center;
}