html, body {
  height: 100%; /* Ensures body takes full viewport height */
  margin: 0; /* Removes default body margin */
  padding: 0; /* Removes default body padding */
}

body {
  font-family: sans-serif, Arial;
  background: radial-gradient(circle at 100%, #A050E0, #79CAEA);
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  background-color: #F8F8F8;
  width: 410px;
  height: 555px;
  margin: 0 auto;
  padding: 0 30px;
  border-radius: 10px;
}

h2 {
  font-size: 2.1em;
  text-align: center;
  padding: 1.5em 0 0 0;
  margin-bottom: 0.7em;
}

label {
  display: block;
  font-size: 1.4em;
  text-align: center; 
  color: rgb(100, 100, 100);
  margin-bottom: 1.3em;
}

input, textarea {
  display: block;
  width: 100%;
  min-height: 3.4em;
  margin: 0.6em 0;
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0 0.4em 0 rgba(0, 0, 0, 0.3);
}

#message {
  margin-bottom: -0.6em;
  
}

button {
  display: block;
  font-size: 1.5em;
  color: white;
  background: #4CAF50;
  border: none;
  border-radius: 0.3em;
  padding: 0.55em 0.8em;
  margin: 0 auto;
}

button:hover {
  background-color: #449248;
}